body {
  margin:0;
  font-family:'Segoe UI';
  background:#f4f6fb;
  transition:.3s;
}

/* DARK */
body.dark {
  background:#0f172a;
  color:#e2e8f0;
}

/* LOGIN */
.login-body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:linear-gradient(135deg,#6a11cb,#2575fc);
}

.auth-box {
  background:white;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

body.dark .auth-box {
  background:#1e293b;
}

.auth-box input {
  width:100%;
  margin:8px 0;
  padding:10px;
}

.auth-box button {
  width:100%;
  margin-top:6px;
  padding:10px;
}

#switch-btn {
  color:#6200ee;
  cursor:pointer;
}

/* HEADER */
.top-header {
  background:#6200ee;
  color:white;
  padding:15px;
  text-align:center;
}

.header-buttons button {
  margin:5px;
}

/* FILTER */
.filters {
  margin-top:10px;
}

/* GRID */
#jobs-container,#saved-list,#applied-list {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
  padding:20px;
}

/* CARD */
.job-card {
  background:white;
  padding:15px;
  border-radius:10px;
}

body.dark .job-card {
  background:#1e293b;
}

/* BUTTONS */
.card-buttons {
  display:flex;
  gap:5px;
  margin-top:10px;
}

.card-buttons button {
  flex:1;
  padding:6px;
}

.save { background:#6200ee;color:white; }
.apply { background:#00c9a7; }
.visit { background:#ddd; }
.remove { background:red;color:white; }

/* TOAST */
.toast {
  position:fixed;
  bottom:20px;
  right:20px;
  background:black;
  color:white;
  padding:10px;
  border-radius:6px;
  opacity:0;
  transition:.3s;
}
.toast.show { opacity:1; }

/* MODAL OVERLAY */
.modal {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:999;

  animation:fadeIn .2s ease;
}

/* MODAL BOX */
.modal-box {
  background:rgba(255,255,255,0.95);
  backdrop-filter:blur(12px);
  padding:25px;
  border-radius:14px;
  width:320px;
  text-align:center;

  transform:scale(.9);
  animation:popIn .2s ease forwards;
}

/* DARK MODE */
body.dark .modal-box {
  background:#1e293b;
  color:#fff;
}

/* FILE INPUT */
.modal-box input[type="file"] {
  margin-top:12px;
  padding:8px;
  border:1px dashed #999;
  border-radius:8px;
  width:100%;
  cursor:pointer;
}

/* FILE NAME */
.file-name {
  font-size:12px;
  margin-top:6px;
  color:#666;
}

/* BUTTONS */
.modal-box button {
  margin-top:10px;
  padding:8px;
  width:100%;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.submit-btn {
  background:#00c9a7;
  color:white;
}

.close-btn {
  background:#ddd;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes popIn {
  to {transform:scale(1);}
}